@import "tailwindcss";


body{
  font-family: "Poppins", sans-serif;
}

.grid__menu {
  display: grid;
  grid-template-columns: 16rem 1fr; /* Sidebar de 16rem y contenido flexible */
}

@media (max-width: 768px) {
  .grid__menu {
    display: block;
  }
}